:root {
    --scrollbar-background: rgba(5,5,5,1);
    --header-neon-horizontal: linear-gradient(to right, rgba(140, 255, 139, 0.4), rgba(139, 255, 193, 0.4), rgba(139, 255, 220, 0.4), rgba(139, 228, 255, 0.4), rgba(139, 211, 255, 0.4) , rgba(151, 139, 255, 0.4), rgba(172, 139, 255, 0.4), rgba(230, 139, 255, 0.4));
    --header-neon-vertical: linear-gradient(rgba(140, 255, 139, 0.4), rgba(139, 255, 193, 0.4), rgba(139, 255, 220, 0.4), rgba(139, 228, 255, 0.4), rgba(139, 211, 255, 0.4) , rgba(151, 139, 255, 0.4), rgba(172, 139, 255, 0.4), rgba(230, 139, 255, 0.4));
    --header-font-decor: rgba(65, 255, 193, 0.87);
    --scrollbar-colour: #fff;
    --main-background: #0b0c0f;
    --theme: dark;
    --dark-theme: dark;
    --light-theme:light;
    --main-fonts-color: #fff;
    --main-decor-color: rgb(255, 255, 255);
    --main-header-background: rgba(0, 0, 0, 1);
    --main-font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    --section1-colour:linear-gradient(rgba(140, 255, 139, 0.87), rgba(139, 255, 193, 0.87));
    --section2-colour:linear-gradient(rgba(139, 255, 220, 0.87), rgba(139, 228, 255, 0.87));
    --section3-colour:linear-gradient(rgba(139, 211, 255, 0.87) , rgba(151, 139, 255, 0.87));
    --section4-colour:linear-gradient(rgba(172, 139, 255, 0.87), rgba(230, 139, 255, 0.87));
}

/*----select all elements----*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/*----stuff below header----*/
main{
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--main-background) !important;
}
/*----header----*/
header{
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    width: 100%;
    height: 48px;
    display: inline-flex;
    justify-content: space-around;
    background: transparent;
    position: fixed;
    top: 0;
    transition: 0.3s;
    z-index: 5;
    font-size: 20px
}

.nav-show{
    opacity: 0;
}

header:hover{
    opacity: 1;
    background: var(--main-header-background);
}

#swole {
    letter-spacing: normal;
    font-family: var(--main-font-family);
    font-style: normal;
    font-size: 25px;
    color: var(--main-fonts-color);
    margin: 5px;
    padding: 1px 5px;
}

#swole:hover {
    color: var(--main-fonts-color);
    text-shadow: 0 0 40px red;
}

/* navigation bar */
.navbar{
    list-style:none;
    position: relative;
    display: inline-flex;
    margin: 10px;
    justify-content: space-between;
}

.navbar #bw{
    width: 30px;
    cursor: pointer;
    padding-left:30px;
}
.navbar #wire{
    width: 30px;
    cursor: pointer;
    padding-left: 30px;
}


a.navLink{
    border-radius: 10px;
    margin: 5px;
    padding: 5px 5px;
    text-decoration: none;
    color: var(--main-fonts-color);
    font-family: var(--main-font-family) !important;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
}

.navLink:hover {
    color: var(--main-background);
    background: var(--main-decor-color);

}

.active{

}

/*----Burger----*/

.burger {
    display: none;

}

.burger div{
    width: 30px;
    height: 3px;
    background: var(--main-fonts-color);
    margin: 5px;
    transition:all 0.3s ease;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/*---- Section1 ----*/
#section1{
    margin: auto;
    height: 100vh;
    color: var(--main-fonts-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#section1 .filter{
    background: url(/Images/Gandalf.gif) no-repeat;
    background-size: cover;
    background-position:center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity:0.8;
}

.intro {
    text-align:center;
    color: var(--main-fonts-color);
    z-index: 1;
    margin: auto;
    padding: 20px;
}

.intro  p{
    margin: 5px;
    font-size:1.2rem;
    font-family: var(--main-font-family);
    text-align:center;
}

h3{
    padding-bottom: 15px;
    letter-spacing: normal;
    font-family: var(--main-font-family);
    font-style: normal;
    font-size: 50px;
    color: var(--main-fonts-color);
    text-shadow: 0 0 40px var(--main-decor-color);
}

/*---- Section 2 ----*/
#section2{
    margin-top:100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    color: var(--main-fonts-color);
    font-family: var(--main-font-family)
}
#section2 h3{
    padding-top: 70px;
}
#section2 p{
    font-family: var(--main-font-family);
    font-size:1.2rem;
    padding: 10px;
}


/*---- Nav link fading animation ----*/
@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translatex(50px);
    }
    to{
        opacity: 1;
        transform:translatex(0px);
    }
}




/*──── hr ─────*/

hr {
    background: var(--main-decor-color);
    margin: 2px;
    height: 3px;
    width: 150px;
    border-radius:5px;
    border: hidden;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

/*----Scrollbar----*/
::-webkit-Scrollbar{
    width: 5px;
    background: var(--scrollbar-background);
}
::-webkit-Scrollbar-thumb{
    border-radius: 10px;
    background: var(--scrollbar-colour);
    box-shadow: inset 0 0 20px var(--scrollbar-colour);
}
::-webkit-Scrollbar-track{
    margin-top: 80px;
    border-radius: 10px;
}


/*---- Media Queries ----*/

@media only screen and (max-width: 1484px) and (min-width: 1214px) {
    .work{
        padding:20px 20%;
    }
}
@media only screen and (max-width: 1214px) and (min-width: 1000px) {
    .work{
        padding:20px 12%;
    }
}

@media only screen and (max-width: 1000px) {

    #section1, #section2, #section3 #section4{
        overflow-x: hidden;
    }
    header{
        border-radius: 0 0 2.5px 2.5px;
        background-color: var(--main-background);
        opacity:0.95;
    }

    header:hover {
        background-color: var(--main-background);
        opacity:1;
    }
    .nav-show{
        opacity: 1;
    }
    .navbar{
        margin: 0;
        border-radius: 10px 10px 10px 10px;
        border: solid;
        border-color: var(--main-fonts-color);
        position:fixed;
        top: 0;
        right:0;
        width:40%;
        height: 99vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        background:var(--main-background);
        transform:translatex(100%);
        transition: transform 0.2s ease-in;
        z-index: -1;
        opacity: 1;
    }
    .burger{
        position:absolute;
        top: 10px;
        right: 30px;
        display: block;
        cursor:pointer;
        z-index: 5;
    }

    .navbar #bw {
        padding-left:0;
    }

    .navbar #wire {
        padding-left:0;
    }

    #swole {
        letter-spacing: normal;
        font-family: var(--main-font-family);
        font-style: normal;
        font-size: 25px;
        color: var(--main-fonts-color);
        position: absolute;
        left: 10px;
        margin: 5px;
        padding: 1px 0 0 20px;
    }
    .navbar li{
        opacity:0;
    }
}

.nav-active {
    transform:translatex(0%);
}
